<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layoutBase">

<head>
	<title>Gyj - Reprodutor Compartilhado</title>
</head>

<section layout:fragment="content">
    
 <div>
	 <div class="content-custom">
			<div class="l-box-lrg pure-u-5-5">
					<form class="pure-form-custom" action="/home">
		    			<label>Pesquisa:</label>
		    			<input type="text" class="pure-input-rounded" name="q"></input> 
		    			<button type="submit" id="button-search" class="pure-button pure-button-primary pure-button-active"><i class="fa fa-search"></i> Buscar</button>
					</form>
					<span th:if="${vazio}">
						<h3 class="content-head is-center">Sem videos, busque acima para adicionar na fila.</h3>
					</span>
					<br></br>
					<hr></hr>
			</div>
	</div>
	
	<div class="content pure-g resultados">
		<div class="pure-u-1-3 videobox" th:each="video : ${videosList}">
			<a th:href="'https://www.youtube.com/watch?v=' + ${video.id}">
				 <!-- <span th:text="${video.id}">A: </span> -->
				 <img th:src="${video.thumbnail}"> </img>
				 <p th:text="${video.titulo}"> </p>
			</a>
			
			<button class="pure-button" id="addMusica" th:name="${video.id}" th:onclick="'javascript:adicionarNaPlaylist(\'' + ${video.id} + '\');'">
   				<i class="fa fa-plus-circle"></i>
   				Adicionar
			</button>
		</div>
	</div>
 </div>

</section>
</html>
