<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layoutBase">

<head>
	<title>Gyj - Reprodutor Compartilhado</title>
</head>

<section layout:fragment="content">
    
 	<br></br>
	<div class="content">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5 absolute-center-div">
				<form class="pure-form pure-form-stacked" action="/cadastro" method="post">
	    			<fieldset>
				        <legend id="legend-login-cadastro">Cadastro</legend>
				
				        <label for="nome">Nome*:</label>
				        <input class="size-input" id="nome" type="text" placeholder="Nome" name="nome" required="required"></input>
				        
				        <label for="email">Email*:</label>
				        <input class="size-input" id="email" type="email" placeholder="Ex: gyj@gmail.com" name="email" required="required"></input>
				
				        <label for="senha">Senha*:</label>
				        <input class="size-input" id="senha" type="password" placeholder="Senha" name="senha" required="required"></input>
				        
				        <label for="conf-senha">Confirmar senha*:</label>
				        <input class="size-input" id="conf-senha" type="password" placeholder="Confirmar Senha" name="conf-senha" required="required"></input>
				    
				        <span id="errorCampos">(*)Campos obrigatórios</span>
				        <br></br>
				        <span id="errorSenha"></span>
						<br></br>
				        <input type="submit" id="cadastrar" value="Cadastrar" class="button-login-cadastro"></input>
				    </fieldset>
				</form>
			</div>
    	</div>    
    	<br></br>
    </div>
	<span th:if="${erro}">
		<script th:inline="javascript">
			alert('Falha ao cadastrar. Por favor tente novamente.');
		</script>
	</span>
	
</section>
</html>