<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
	<meta name="description" content="Gy-J"/>
	<meta name="keywords" content="Gy-J, gyj"/>
	<title>Gy-J - Entrar</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css"/>
    <link rel="stylesheet" href="/css/GyjCustom.css"/>
</head>
<body>

<div class="format-login-cadastro">
	<form class="pure-form pure-form-stacked" action="/login" method="post">
	    <fieldset>
	        <legend id="legend-login-cadastro">Entrar no Gyj</legend>
	
	        <label for="email">Email</label>
	        <input id="email" type="email" placeholder="Ex: gyj@gmail.com" name="email"></input>
	
	        <label for="senha">Senha</label>
	        <input id="senha" type="password" placeholder="Senha" name="senha"></input>
			<br></br>
	        <button type="submit" class="button-login-cadastro pure-button pure-button-primary">Entrar</button>
	    </fieldset>
	</form>
	<div th:if="${param.error}">
 				<span class="" >Login ou senha inválidos.</span>
    </div>
    <div th:if="${param.logout}">
 				<span class="" >Logout efetuado, esperamos lhe ver em breve. </span>
    </div>
</div>
</body>
</html>