<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layoutBase">

<head>
	<title>Gyj - Reprodutor Compartilhado</title>
</head>

<section layout:fragment="content">
    
	Playlists da academia:
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 academiasportfolio" th:each="playlist : ${playlists}">
          <h3 class="content-subhead" th:text="${playlist.nome}"></h3>
          <p>XX Musicas</p>
    </div>
    <!-- Botoes -->
	<button class="pure-button">
	    <i class="fa fa-plus"></i>
	    Nova
	</button>
</section>
</html>