<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
	<meta name="description" content="Gy-J"/>
	<meta name="keywords" content="Gy-J, gyj"/>
	<title>Gy-J - Suas academias</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css"/>
    <link rel="stylesheet" href="/css/GyjCustom.css"/>
    <script type="text/javascript" src=""></script> 
</head>
<body>
	Suas academias:
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 academiasportfolio" th:each="academia : ${academias}">
          <a th:href="'/moderador/academia/' + ${academia.id}">
          	<h3 class="content-subhead" th:text="${academia.nome}"></h3>
          </a>
    </div>
	
</body>
</html>