<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
	<meta name="description" content="Gy-J"/>
	<meta name="keywords" content="Gy-J, gyj"/>
	<title>Gy-J - Cadastro de Academia</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css"/>
    <link rel="stylesheet" href="/css/GyjCustom.css"/>
    <script type="text/javascript" src="js/cadastro.js"></script> 
</head>
<body>
	<div class="format-login-cadastro">
	<form class="pure-form pure-form-stacked" action="">
	    <fieldset>
	        <legend id="legend-login-cadastro">Cadastro da academia</legend>
	
	        <label for="nomeAcademia">Nome da academia*:</label>
	        <input class="size-input" id="nomeAcademia" type="text" placeholder="Nome da academia" name="nomeAcademia"></input>
	        
	        <label for="enderecoAcademia">Endereço*:</label>
	        <input class="size-input" id="enderecoAcademia" type="text" placeholder="Rua Aqui - 123" name="enderecoAcademia"></input>
	
	        <label for="cidadeAcademia">Cidade*:</label>
	        <input class="size-input" id="cidadeAcademia" type="text" placeholder="Cidade" name="cidadeAcademia"></input>
	        
	        <label for="telefoneAcademia">Telefone:</label>
	        <input class="size-input" id="telefoneAcademia" type="text" placeholder="Telefone para contato" name="telefoneAcademia"></input>
	        
	        <label for="emailAcademia">Email:</label>
	        <input class="size-input" id="emailAcademia" type="email" placeholder="Email" name="emailAcademia"></input>
	        
	        <br></br>
	        <span id="camposAcademia">(*)Campos obrigatórios</span>
	        
	        <input type="submit" id="cadastrarAcademia" value="Cadastrar" class="size-input button-login-cadastro button-login pure-button pure-button-primary"></input>
	    </fieldset>
	</form>
</div>
</body>
</html>