<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/layoutBase">

<head>
	<title>Gyj - Reprodutor Compartilhado</title>
</head>

<section layout:fragment="content">
    
	<div class="content">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5 absolute-center-div">
				<form class="pure-form pure-form-stacked" action="/cadastroAcademia" method="post">
	    			<fieldset>
				        <legend id="legend-login-cadastro">Cadastro da academia</legend>
				
				        <label for="nomeAcademia">Nome da academia*:</label>
				        <input class="size-input" id="nomeAcademia" type="text" placeholder="Nome da academia" name="nomeAcademia" required="required"></input>
				        
				        <label for="enderecoAcademia">Endereço*:</label>
				        <input class="size-input" id="enderecoAcademia" type="text" placeholder="Rua Aqui - 123" name="enderecoAcademia" required="required"></input>
				
				        <label for="cidadeAcademia">Cidade*:</label>
				        <input class="size-input" id="cidadeAcademia" type="text" placeholder="Cidade" name="cidadeAcademia" required="required"></input>
				        
				        <label for="telefoneAcademia">Telefone:</label>
				        <input class="size-input" id="telefoneAcademia" type="number" placeholder="Telefone para contato" name="telefoneAcademia"></input>
				        
				        <label for="emailAcademia">Email:</label>
				        <input class="size-input" id="emailAcademia" type="email" placeholder="Email" name="emailAcademia"></input>
				        
				        <br></br>
				        <span id="spanAcademia">(*)Campos obrigatórios</span>
				        
				        <input type="submit" id="cadastrarAcademia" value="Cadastrar" class="button-login-cadastro"></input>
				    </fieldset>
				</form>
			</div>
    	</div>    
    	<br></br>
    </div>
	<span th:if="${erro}">
		<script th:inline="javascript">
			alert('Falha ao cadastrar. Por favor tente novamente.');
		</script>
	</span>
	
</section>
</html>