<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
	<meta name="description" content="Gy-J"/>
	<meta name="keywords" content="Gy-J, gyj"/>
	<title>Gy-J - Cadastro de Academia</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css"/>
    <link rel="stylesheet" href="/css/GyjCustom.css"/>
    <script type="text/javascript" src="/js/cadastroAcademia.js"></script> 
</head>
<body>
	<!-- Aqui sera usado ajax posteriormente -->
	
	<div class="fila">
	
	</div>
	<div class="player">
	
	</div>
</body>
</html>